.firstLevel {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 20px;
  align-items: center;

  font-weight: 500;
  font-size: 18px;
  color: var(--gray-dark);
  margin-top: 20px;
}

.firstLevelActive,
.firstLevel:hover {
  color: var(--primary);
}

.secondLevel {
  margin-bottom: 10px;

  cursor: pointer;
  text-transform: uppercase;
  color: var(--gray-dark);

  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
}

.secondBlock {
  margin: 15px 0 0 12px;
  padding-left: 32px;

  border-left: 1px solid #dfdfdf;
}

.secondLevelBlock {
  display: none;
}

.secondLevelBlockOpened {
  display: block;
}

.secondBlockOpened:last-child {
  margin-bottom: 20px;
}

.thirdLevel {
  margin-bottom: 10px;
  display: block;

  cursor: pointer;

  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: var(--gray-dark);
}

.thirdLevelActive,
.thirdLevel:hover {
  color: var(--primary);
}
